.caja{
    background-color: yellow;
    width: 300px;
    height: 300px;
    margin: 100px;
    box-shadow: 21px 35px 2px -3px rgba(0,0,0,0.66);
}
.caja2{
    width: 300px;
    height: 300px;
    border: 20px dotted #ff6550;
    padding: 10px;
    border-radius: 0 30px;
}
.texto{
    background-color:green;
    column-count: 2;
    column-gap: 20px;
}