.caja{
    width: 400px;
    height: 250px;
    background-color:aqua;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    transition: all 0.5s ease;
    cursor: pointer;
    animation: rectangulo 2s ease;
}
@keyframes rectangulo {
    15%{
        background-color: red;
    }
    35%{
        background-color: yellow;
    }
    50%{
        background-color:orange;
    }
    65%{
        background-color:blue;
    }
    85%{
        background-color:violet;
    }
    100%{
        background-color:green;
    }
}
