.caja{
    width: 400px;
    height: 250px;
    background-color:aqua;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    transition: all 0.5s ease;
    cursor: pointer;
}
.caja:hover{
    transform: scale(1.2);
    background-color: red;
}
img{
    filter: grayscale(100%);
    transition: all 0.5s ease;
}
img:hover{
    filter: grayscale(0%);
}